@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "Rubik", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  margin: 0;
  padding: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden
}

.page-header {
  background-color: #ffe17f;
  width: 1160px;
  margin: 0 auto;
  position: relative;
  padding: 86px 0 0 0;
}

.page-header::before {
  content: "";
  width: 100%;
  height: 40px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #ffffff;
}

.logo-link {
  position: absolute;
  top: 19px;
  left: 60px;
}

.logo {}

.navigation {
  width: 1040px;
  margin: 0 auto;
}

.search-line {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.search-form {
  display: flex;
  width: 517px;
}

.search-input {
  width: 359px;
  min-height: 40px;
  border: 2px solid #000000;
  border-radius: 20px 0 0 20px;
  background-color: #ffe17f;
  padding: 3px 47px;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  display: block;
}

.search-input:focus {
  outline: none;
}

.search-button {
  display: block;
  width: 160px;
  background-color: #ffe17f;
  border: 2px solid #000000;
  border-left: none;
  border-radius: 0 20px 20px 0;
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  cursor: pointer;
}

.user-menu {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.user-item {
  width: 231px;
}

.basket-item {
  display: flex;
  width: 240px;
}

.user-link {
  color: #000000;
  text-decoration: none;
}

.navigation-block {
  display: flex;
  justify-content: space-between;
}

.catalog-block {}

.catalog-link {
  color: #000000;
  text-decoration: none;
}

.subcatalog {
  display: none;
}

.subcatalog-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.subcatalog-item {}

.subcatalog-link {
  color: #000000;
  text-decoration: none;
}

.navigation-service {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  width: 600px;
  gap: 20px 44px;
  flex-wrap: wrap;
}

.navigation-service-item {}

.navigation-service-link {
  text-decoration: none;
  color: #000000;
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 800;
  letter-spacing: 3.6px;
  padding-top: 11px;
  display: block;
}

.main-index {
}

.welcome {
  width: 1160px;
  margin: 0 auto;
}


.slider-container {
}

.slider-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.slider-screen {
  display: none;
}

.slider-screen-active {
  display: flex;
}

.slider-image-block {
  margin-right: 40px;
}

.slider-image {}

.slider-text-block {}

.slider-text {
  margin: 0;
  font-family: "Raleway";
  font-size: 50px;
  font-weight: 800;
  line-height: 50px;
  color: #000000;
  margin-bottom: 29px;
}

.slider-description {
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  margin: 0;
  color: #444444;
  margin-bottom: 50px;
}

.slider-link {
  list-style: none;
  color: #000000;
  text-decoration: none;
  font-family: "Raleway";
  font-weight: 800;
  letter-spacing: 3.6px;
  text-transform: uppercase;
  position: relative;
  display: block;
  margin-left: 35px;
}

.slider-link::after {
  content: "";
  position: absolute;
  top: 10px;
  left: -36px;
  z-index: -1;
  width: 220px;
  height: 8px;
  flex-shrink: 0;
  background-color: #FFE17F;
}

.slider-parameters {
  display: flex;
}

.slider-parameter {
  margin-right: 20px;
  display: flex;
  flex-direction: column;
}

.parameter-name {
  color: #444444;
  font-family: "Rubik";
  font-size: 16px;
  font-weight: 400;
  margin-top: 12px;
}

.parameter-value {
  margin: 0;
  font-family: "Rubik";
  font-size: 36px;
  font-weight: 400;
  order: -1;

}

.slider-left {
  display: none;
}

.slider-right {
  display: none;
}

.bullits {
  margin: 0;
  padding: 0;

}

.bullit-item {
  list-style: none;
}

.button {
  display: none;
}


.assortment {
  width: 1160px;
  margin: 0 auto;
}

.assortment-list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  gap: 40px;
  flex-wrap: wrap;
}

.assortment-list li{
  flex-grow: 1;

}

.assortment-item {
  width: 160px;
  height: 60px;
}

.assortment-link {
  text-decoration: none;
  font-weight: 800;
  line-height: 24px;
  color: #000000;
  font-family: "Raleway";
}

.delivery {
  display: none;
}

.delivery-list {
  margin: 0;
  padding: 0;

}

.delivery-item {}

.delivery-button .delivery-button-current {}

.delivery-button {}

.delivery-screens {
  margin: 0;
  padding: 0;
  list-style: none;
}

.delivery-item {}

.delivery-title {}

.delivery-text {}

.delivery-rare {
  text-decoration: none;
  font-size: 20px;
  font-weight: 800;
  line-height: normal;
  text-decoration: none;
  color: #000000;
  font-family: "Raleway";
}

.info-contacts {
  margin: 0 auto;
  width: 1160px;
  padding: 70px 0;
}

.info-contact {
  display: flex;
  gap: 108px;
}

.info {}

.info-about {
  margin: 0;
  padding: 0;
  font-size: 50px;
  font-family: "Raleway";
  font-weight: 800;
  line-height: 50px;
  margin-bottom: 48px;
}


.info-description {
  margin: 0;
  line-height: 30px;
  color: #444444;
  margin-bottom: 30px;
}

.info-list-more {
  margin: 0;
  margin-bottom: 30px;
  font-weight: 700;
  line-height: 35px;
  letter-spacing: -0.36px;
}

.info-ltem-more {
}

.info-more-detailed {
  color: #000000;
  text-decoration: none;
  font-family: "Raleway";
  font-weight: 800;
  text-transform: uppercase;
  position: relative;
  margin-left: 25px;
  display: block;
  letter-spacing: 3.6px;

}

.info-more-detailed::after {
  content: "";
  position: absolute;
  top: 10px;
  left: -25px;
  z-index: -1;
  width: 270px;
  height: 8px;
  flex-shrink: 0;
  background-color: #FFE17F;

}

.contacts {}

.contacts-title {
  margin: 0;
  padding: 0;
  font-family: "Raleway";
  font-size: 50px;
  font-weight: 800;
  line-height: 50px;
  margin-bottom: 48px;
}

.contacts-text {
  margin: 0;
  padding: 0;
  color: #444444;
  margin-bottom: 30px;
}

.contacts-desc {
  margin: 0;
  margin-bottom: 15px;
  padding: 0;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  color: #444444;
}

.contacts-address {
  margin: 0;
  padding: 0;
  color: #444444;
}

.contacts-phone {
  text-decoration: none;
  color: #444444;
  margin-bottom: 30px;
  display: block;
}

.contacts-time {
  color: #444444;
  font-size: 24px;
  font-weight: 700;
  margin: 0;
  padding: 0;
  font-style: normal;
}

.contacts-list {
  margin: 0;
  padding: 0;
  list-style: none;
  color: #444444;
  margin-bottom: 30px;
}

.contacts-item-time {}

.contacts-button {
  color: #000000;
  text-decoration: none;
  font-family: "Raleway";
  font-weight: 800;
  text-transform: uppercase;
  position: relative;
  margin-left: 25px;
  display: block;
  font-style: normal;
  letter-spacing: 3.6px;
}

.contacts-button::after {
  content: "";
  position: absolute;
  top: 10px;
  left: -35px;
  z-index: -1;
  width: 259px;
  min-height: 8px;
  flex-shrink: 0;
  background-color: #FFE17F;

}

.mailing {
  background-color: #F0F0F0;
  padding-top: 74px;
  padding-bottom: 56px;
}
.mailing-width {
  margin: 0 auto;
  width: 1160px;
}

.mailing-text-title{
  display: flex;
  margin-bottom: 144px;
}

.mailing-title {
  margin: 0;
  padding: 0;
  font-size: 50px;
  font-weight: 800;
  line-height: 50px;
  margin-right: 252px;
}

.mailing-text {
  margin: 0;
  padding: 0;
  color: #444444;
  font-family: "Rubik";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}


.mailing-button-free {
  display: flex;
  justify-content: space-between;
}

.mailing-form {
  display: flex;
}

.email-input {
  width: 557px;
  border: none;
  border-bottom: 3px solid #C4C4C4;
  min-height: 40px;
  background-color: #F0F0F0;
}

.mailing-button {
  font-size: 18px;
  font-weight: 800;
  color: #000000;
  border: 3px solid #C4C4C4;
  text-transform: uppercase;
  padding: 18px 39px;
  text-align: center;
  letter-spacing: 3.6px;
  font-family: "Raleway";
  cursor: pointer;
}

.mailing-free {
  color: #444444;
  padding: 0;
  margin: 0;
}

.page-footer {
  background-color: #444444;
}

.page-footer a {
  color: #FFFFFF;
  text-decoration: none;
}


.page-footer-width {
  width: 1160px;
  margin: 0 auto;
}

.page-footer-box {
  display: flex;
  justify-content: space-between;
}

.page-footer-address {
  width: 239px;
  min-height: 182px;
  flex-shrink: 0;
  margin-top: 62px;
}

.page-footer-logo {
  margin-bottom: 71px;
}

.page-footer-address-more {
  font-size: 16px;
  font-style: normal;
  color: #ffffff;
  flex-wrap: wrap;
}

.footer-navigation-social {
  display: flex;
  width: 444px;
  min-height: 123px;
  flex-direction: column;
  padding-bottom: 61px;
  padding-top: 137px;
}

.footer-navigation-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding-bottom: 62px;
  flex-wrap: wrap;
}

.footer-navigation-item {}

.footer-navigation-link {
  font-family: "Raleway";
  font-size: 18px;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 3.6px;
  text-transform: uppercase;
}

.footer-social-list {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.footer-social-item .button {}

.footer-phone {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 175px;
  height: 116px;
  flex-shrink: 0;
  padding-bottom: 65px;
  padding-top: 140px;

}
.footer-phone-item-tel {

}

.footer-phone-item {
}

li .contacts-phone {
  font-size: 16px;
  text-decoration: underline;
}

.htmlacademy-link {

}

