@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "Rubik", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  margin: 0;
  padding: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.special-link {
  list-style: none;
  color: #000000;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  letter-spacing: 3.6px;
  text-transform: uppercase;
  position: relative;
  display: inline-block;
  padding: 0 35px;
  font-style: normal;
}

.special-link::after {
  content: "";
  position: absolute;
  top: 10px;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 8px;
  flex-shrink: 0;
  background-color: #ffe17f;
}

.special-link:hover::after {
  transition: transform 0.2s ease-in-out 0.1s;
  content: "";
  position: absolute;
  top: -5px;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 40px;
  flex-shrink: 0;
  background-color: #ffe17f;
}

.special-link:active::after {
  transition: transform 0.1s ease;
  content: "";
  position: absolute;
  top: -5px;
  left: 0;
  z-index: -1;
  width: 100%px;
  height: 40px;
  flex-shrink: 0;
  background-color: #ffcc33;
}

.page-header {
  background-color: #ffe17f;
  width: 1160px;
  margin: 0 auto;
  position: relative;
  padding: 86px 0 0 0;
  z-index: 50;
}

.page-header::before {
  content: "";
  width: 100%;
  height: 40px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #ffffff;
}

.logo-link {
  position: absolute;
  top: 19px;
  left: 60px;
}

.logo-link:hover {
}

.logo-link:focus {

}

.logo-link:active {
}


.logo {
}

.navigation {
  width: 1040px;
  margin: 0 auto;
}

.search-line {
  display: flex;
  margin-bottom: 30px;
  align-items: flex-start;
}

.search-form {
  display: flex;
  width: 517px;
}

.search-input {
  width: 359px;
  min-height: 40px;
  border: 2px solid #000000;
  border-radius: 20px 0 0 20px;
  background-color: #ffe17f;
  padding: 3px 47px;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  display: block;
  position: relative;
  background-image: url("../images/search.svg");
  background-repeat: no-repeat;
  background-position: 14px 10px;
}

.search-input:focus {
  outline: none;
}

.search-button {
  display: block;
  width: 158px;
  background-color: #ffe17f;
  border: 2px solid #000000;
  border-left: none;
  border-radius: 0 20px 20px 0;
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  cursor: pointer;
}

.search-button:hover {
  background: #000000;
  color: #ffffff;
}

.search-button:focus {
}

.search-button:active {
  background: rgb(0, 0, 0);
  color: rgba(255, 255, 255, 0.3);
}

.user-menu {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  margin-top: 4px;
}

.user-item-enter {
  width: 245px;
  display: flex;
  margin-left: 26px;
}

.basket-item {
  display: flex;
  width: 256px;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  margin: 0;
}

.user-item {
  margin-left: 12px;
}

.user-link {
  color: #000000;
  text-decoration: none;
  position: relative;
  display: block;
  padding-left: 22px;
}

.user--enter {
  padding-left: 27px;
}

.user--exit {
  color: #000000;
  text-decoration: none;
  margin-left: 29px;
  margin-top: 1px;
  opacity: 0.3;
}

.user-link:hover {
  opacity: 0.6;
}

.user-link:focus {
}

.user-link:active {
  opacity: 0.3;
}

.user-link::after {
  content: "";
  top: 9px;
  left: 0;
  width: 16px;
  height: 14px;
  position: absolute;
  background-color: #ffe17f;
  background-repeat: no-repeat;
}

.user--basket {
  position: relative;
  padding-left: 28px;
  margin-right: 4px;
}


.sub-basket {
  display: none;
  background-color: #000000;
  width: 320px;
}

.sub-basket-list {
  padding: 0;
  margin: 0;
  position: relative;
}

.sub-basket::after {
  position: absolute;
  content: "";
  top: -6px;
  left: 152px;
  width: 14px;
  height: 6px;
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 7px solid black;
}

.sub-basket-item {
  display: flex;
  padding: 20px;
  position: relative;
}

.sub-basket-item::before {
  content: "";
  position: absolute;
  top: 20px;
  right: 20px;
  width: 10px;
  height: 10px;
}

.sub-basket-item::before {
  background-image: url("../images/cross-basket.svg");
}

.sub-basket-item:hover:before{
  opacity: 0.6;
}

.sub-basket-item:focus::before {
}

.sub-basket-item:active:before {
  opacity: 0.3;
}

.sub-basket-item:hover {
  opacity: 0.6;
}

.sub-basket-item:focus {
}

.sub-basket-item:active {
  opacity: 0.3;
}

.sub-product-basket {
  margin-right: 23px;
}

.sub-product-name {
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  flex-basis: 141px;
  margin: 0;
  color: #ffffff;
}

.sum-basket-list {
  margin: 0;
  padding: 0 20px;
  background-color: #1a1a1a;
}

.sum-basket-item {
  display: flex;
  justify-content: space-between;
  margin-top: -3px;
}

.sum-basket-product {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #ffffff;
  width: 120px;
}

.sum-basket-value {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #ffffff;
  width: 150px;
  text-align: end;
}

.sum-basket-link {
  color: #000000;
  margin: 16px 20px 20px 21px;
  padding: 14px 20px;
  background-color: #ffffff;
  text-decoration: none;
  text-align: center;
  font-family: "Raleway",sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 3.6px;
  text-transform: uppercase;
}

.sum-basket-link:hover {
  background-color:#ffe17f;
}

.sum-basket-link:focus {
}

.sum-basket-link:active {
  color: rgba(0, 0, 0, 0.3);
}

.basket-active:focus-within .sub-basket,
.basket-active:active .sub-basket {
  display: flex;
  position: absolute;
  flex-direction: column;
  right: -17px;
  top: 127px;
}

.user--enter::after {
  background-image: url("../images/icons-navigation/icons-enter.svg");
}

.user--compare::after {
  background-image: url("../images/icons-navigation/icons-compare.svg");
}

.user--basket::after {
  background-image: url("../images/icons-navigation/icons-basket.svg");
  top: 7px;
}

.navigation-block {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.catalog-block {
  /* display: flex; */
  position: relative;
}

.catalog-link {
  color: #000000;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 800;
  letter-spacing: 3.6px;
  text-transform: uppercase;
  align-self: flex-end;
  position: relative;
  display: inline-block;
  padding: 10px 65px 10px 0;
  min-height: 50px;
  box-sizing: border-box;
}

.catalog-block:hover .catalog-plus {
  opacity: 1;
}

.catalog--plus {
  width: 46px;
  height: 46px;
  border-radius: 50%;
  border: solid 2px;
  opacity: 0.3;
  display: inline-block;
  position: absolute;
  top: 0px;
  right: -2px;
  z-index: -1;
}

.catalog-link:hover .catalog-plus {
  opacity: 1;
}

.catalog--plus::after {
  content: "";
  position: absolute;
  width: 16px;
  height: 2px;
  background-color: #000000;
  top: 22px;
  left: 15px;
  transform: rotate(90deg);
}

.catalog--plus::before{
  content: "";
  position: absolute;
  width: 16px;
  height: 2px;
  background-color: #000000;
  top: 22px;
  left: 15px;
}


.subcatalog {
  display: none;
  position: absolute;
  z-index: 29;
  background: #ffe17f;
  width: 1160px;
  left: -60px;
  top: 100%;
  padding: 0 0 70px 60px;
  box-sizing: border-box;
  gap: 30px;
}

.catalog-block:focus-within .subcatalog,
.catalog-block:active .subcatalog {
  display: flex;
  padding-top: 14px;
}

.catalog-block:hover .catalog--plus {
  opacity: 1;
}

.catalog-block:focus-within .catalog--plus::after,
.catalog-block:active .catalog--plus::after {
  opacity: 0;
}


.subcatalog-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.subcatalog-item {
}

.subcatalog-link {
  color: #000000;
  text-decoration: none;
}

.subcatalog-link:hover {
  opacity: 0.6;
}

.subcatalog-link:active {
  opacity: 0.3;
}

.subcatalog-link-active {
  border-bottom: solid 2px;
}

.navigation-service {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  width: 600px;
  gap: 20px 46px;
  flex-wrap: wrap;
  margin-right: -3px;
}

.navigation-service-item {
}

.navigation-service-link {
  text-decoration: none;
  color: #000000;
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 800;
  letter-spacing: 3.6px;
  padding-top: 11px;
  display: block;
}

.navigation-service-link:hover {
  opacity: 0.6;
}

.navigation-service-link:active {
  opacity: 0.3;
}

.nav-active-service-link {
  border-bottom: solid 2px;
}

.main-index {
}

.welcome {
  width: 1160px;
  margin: 0 auto;
  padding-bottom: 31px;
}

.slider-container {
}

.slider-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.slider-screen {
  display: none;
  position: relative;
}

.slider-screen-active {
  display: flex;
}

.slider-number {
  height: 135px;
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0;
  background-color: #ffe17f;
  text-align: right;
  color: #ffffff;
  font-size: 180px;
  font-weight: 700;
  line-height: 30px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  box-sizing: border-box;
  padding-right: 48px;
  padding-top: 27px;
}

.slider-image-block {
  padding-right: 40px;
  z-index: 20;
  position: relative;
  width: 560px;
}

.slider-image {
  margin-top: -16px;
}

.slider-wrapper {
  width: 100%;
  top: 35%;
  display: flex;
  justify-content: space-between;
  position: absolute;
}

.slider-button {
  width: 20px;
  height: 60px;
  flex-shrink: 0;
  background-image: url("../images/arrow-slider.svg");
  background-repeat: no-repeat;
  border: none;
  background-color: #ffffff00;
  cursor: pointer;
  z-index: 20;
}


.slider-button:hover {
  opacity: 0.6;
}

.slider-button:focus {

}

.slider-button:active {
  opacity: 0.3;
}

.slider-right {
  transform: rotate(180deg);
  margin-right: 40px;
}


.slider-left {
  margin-left: 30px;
}

.slider-text-block {
  z-index: 20;
  position: relative;
  margin-top: 105px;
}

.slider-text {
  margin: 0;
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  font-weight: 800;
  line-height: 50px;
  color: #000000;
  margin-bottom: 29px;
}

.slider-description {
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  margin: 0;
  color: #444444;
  margin-bottom: 56px;
}

.slider-link {
  margin-bottom: 49px;
  padding: 0 39px;
}

.slider-parameters {
  display: flex;
  flex-wrap: wrap;
  margin: 5px 5px 5px 1px;
}

.slider-parameter {
  margin-right: 20px;
  display: flex;
  flex-direction: column;
}

.parameter-name {
  color: #444444;
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  font-weight: 400;
  margin-top: 12px;
}

.parameter-value {
  margin: 0;
  font-family: "Rubik", sans-serif;
  font-size: 36px;
  font-weight: 400;
  order: -1;
}

.bullits {
  margin: 0;
  padding: 0;
  text-align: center;
  position: relative;
  top: -36px;
  z-index: 20;
}

.bullit-item {
  list-style: none;
  display: inline-block;
  margin: 0;
  padding: 0;
}

.bullit-item:not(:last-child) {
  margin-right: 15px;
}

.button-slids {
  border-radius: 50%;
  width: 12px;
  height: 12px;
  margin: 0;
  padding: 0;
  border: solid 2px #000000;
  background-color: #ffffff;
  cursor: pointer;

}

.button-slids:hover {
  opacity: 0.6;
}

.button-slids:focus {

}

.button-slids:active {
  opacity: 0.3;
}

.button-slids-current {
  background-color: #000000;
}

.assortment {
  padding-bottom: 151px;
  width: 1160px;
  margin: 0 auto;
}

.assortment-list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: flex-start;
  gap: 40px;
  flex-wrap: wrap;
}

/* .assortment-list li {
  flex-grow: 1;

} */

.assortment-item {
  width: 160px;
}

.assortment-link {
  text-decoration: none;
  font-weight: 800;
  line-height: 24px;
  color: #000000;
  font-family: "Raleway", sans-serif;
  display: block;
  padding: 195px 0 0;
  position: relative;
}

.assortment-link::before {
  content: "";
  width: 160px;
  height: 160px;
  background-color: #ffe17f;
  position: absolute;
  top: 0;
  left: 0;
  background-position: 0 0;
  background-repeat: no-repeat;
}

.assortment-link:hover::before {
  background-color: #ffc700;
}

.assortment-link:focus::before {
}

.assortment-link:active::before {
  opacity: 0.3;
}

.assortment--vr::before {
  background-image: url("../images/assort/vr.svg");
}

.assortment--stick::before {
  background-image: url("../images/assort/selfie.svg");
}

.assortment--camera::before {
  background-image: url("../images/assort/camera.svg");
}

.assortment--fitness::before {
  background-image: url("../images/assort/fitness.svg");
}

.assortment--watch::before {
  background-image: url("../images/assort/watch.svg");
}

.assortment--quadrocopter::before {
  background-image: url("../images/assort/quadrocopter.svg");
}

.delivery {
  position: relative;
  margin-bottom: 68px;
}

.delivery::after {
  background-color: #f0f0f0;
  content: "";
  top: 0;
  right: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -2;
}

.delivery::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 32px;
  top: 0;
  left: 0;
  z-index: -1;
  background-color: #ffffff;
}

.delivery-box {
  width: 1160px;
  margin: auto;
  padding-bottom: 89px;
  position: relative;
  padding-left: 17px;
  position: relative;
}

.delivery-flex-box {
  display: flex;
  justify-content: space-between;
}

.delivery-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.delivery-partition {
  position: absolute;
  background-color: #000000;
  width: 7px;
  height: 100%;
  flex-shrink: 0;
  top: -72px;
  left: 288px;
}

.delivery-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.delivery-item:not(:last-child) {
  margin-bottom: 56px;
}

.delivery-button {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 800;
  letter-spacing: 3.6px;
  text-transform: uppercase;
  border: none;
  background: none;
  position: relative;
  padding: 0 10px 0 10px;
}

.delivery-button::after {
  top: 7px;
}

.delivery-button:hover::after {
  top: -8px;
}

.delivery-button.delivery-button-current {
  color: #ffe17f;
}

.delivery-button.delivery-button-current::after {
  content: "";
  top: -8px;
  left: -9px;
  width: 280px;
  height: 40px;
  flex-shrink: 0;
  position: absolute;
  background-color: #000000;
  z-index: -1;
  color: #ffe17f;
}


.delivery-screens {
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
  margin-right: 313px;
  width: 452px;
  display: flex;
}

.delivery-screens::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 200px;
}

.delivery-item-active {
}

.delivery-title {
  margin: 0;
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  font-style: normal;
  font-weight: 800;
  line-height: 50px;
  margin-bottom: 35px;
}

.delivery-text {
  margin: 0;
  width: 452px;
  min-height: 90px;
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}

.delivery-active-image {
  content: "";
  top: 7px;
  left: 106px;
  width: 136px;
  height: 164px;
  flex-shrink: 0;
  position: relative;
  background-image: url("../images/delivery.svg");
}

.delivery-rare {
  display: flex;
  position: relative;
  justify-content: center;
  margin: 0 auto;
  width: 1160px;
  background-color: #f0f0f0;
  margin-bottom: 110px;
}

.delivery-rare-link {
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 4px;
  color: #000000;
  text-transform: uppercase;
  display: block;
  text-decoration: none;
  padding: 40px 319px;
}

.delivery-rare-link:hover {
}

.delivery-rare-link:focus {
}
.delivery-rare-link:active {
  opacity: 0.3;
}

.delivery-rare-link::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 125px;
  height: 104px;
  flex-shrink: 0;
  z-index: 0;
  background-color: #ffe17f;
  background-position: 40px 38px;
  background-repeat: no-repeat;
}

.delivery-rare-link::before {
  background-image: url("../images/delivery-car.svg");
}

.delivery-rare-link:hover::before {
  background-color: #ffc700;
}

.delivery-rare-link:focus::before {
}

.delivery-rare-link:active::before {
  opacity: 0.3;
}

.delivery-rare-link::after {
  content: "";
  position: absolute;
  top: 30px;
  right: 43px;
  width: 40px;
  height: 40px;
  flex-shrink: 0;
  z-index: 0;
  background-repeat: no-repeat;
  opacity: 0.5;
}

.delivery-rare-link::after {
  background-image: url("../images/frame-exclamation.svg");
}

.delivery-rare-link:hover::after {
  opacity: 1;
}

.delivery-rare-link:focus::after {
}

.delivery-rare-link:active::after {
  opacity: 0.3;
}

.info-contacts {
  margin: 0 auto;
  width: 1160px;
  padding-bottom: 72px;
}

.info-contact {
  display: flex;
  gap: 108px;
}

.info {
  margin-top: 8px;
}

.info-about {
  margin: 0;
  padding: 0;
  font-size: 50px;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  line-height: 50px;
  margin-bottom: 48px;
  position: relative;
}

.info-about::after {
  position: absolute;
  content: "";
  top: -48px;
  left: 0px;
  background-color: #000000;
  width: 84px;
  height: 7px;
  flex-shrink: 0;
}

.info-description {
  margin: 0;
  line-height: 30px;
  color: #444444;
  margin-bottom: 29px;
}

.info-list-more {
  margin: 0;
  margin-bottom: 27px;
  font-weight: 700;
  line-height: 35px;
  letter-spacing: -0.36px;
  margin-top: -5px;
  list-style: none;
}


.info-item-more {
  position: relative;
}

.info-item-more::after {
  position: absolute;
  content: "";
  width: 8px;
  height: 8px;
  background-color: #ffcc33;
  border-radius: 50%;
  top: 12px;
  left: -37px;
}

.info-item-more:not(:last-child) {
  margin-bottom: 4px;
}

.info-more-detailed {
  margin-left: 5px;
  padding: 0 18px;
}

.contacts {
  padding-left: 41px;
  padding-top: 7px;;
}

.contacts-title {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  font-weight: 800;
  line-height: 50px;
  margin-bottom: 48px;
  position: relative;
}

.contacts-title::after {
  position: absolute;
  content: "";
  top: -47px;
  left: 1px;
  background-color: #000000;
  width: 84px;
  height: 7px;
  flex-shrink: 0;
}

.contacts-text {
  margin: 0;
  padding: 0;
  color: #444444;
  margin-bottom: 30px;
}

.contacts-desc {
  margin: 0;
  margin-bottom: 15px;
  padding: 0;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  color: #444444;
}

.contacts-address {
  margin: 0;
  padding: 0;
  color: #444444;
  font-style: normal;
}

.contacts-phone {
  color: #444444;
  margin-bottom: 30px;
  display: block;
  font-style: normal;
}

.contacts-phone:hover {
  color: #ffc700;
}

.contacts-phone:focus {

}

.contacts-phone:active {
  color: #ffc700;
  opacity: 0.3;
}

.contacts-time {
  color: #444444;
  font-size: 24px;
  font-weight: 700;
  margin: 0;
  padding: 0;
  font-style: normal;
  margin-bottom: 15px;
}

.contacts-list {
  margin: 0;
  padding: 0;
  list-style: none;
  color: #444444;
  margin-bottom: 36px;
}

.contacts-item-time {
  font-style: normal;
}

.contacts-button {
  margin-left: 3px;
  padding: 0 32px;
}

.mailing {
  background-color: #f0f0f0;
  padding-top: 65px;
  padding-bottom: 56px;
}

.mailing-width {
  margin: 0 auto;
  width: 1160px;
}

.mailing-text-title {
  display: flex;
  margin-bottom: 141px;
  justify-content: space-between;
}

.mailing-title {
  margin: 0;
  padding: 0;
  font-size: 50px;
  font-weight: 800;
  line-height: 50px;
  margin-left: 4px;
  width: 359px;
}

.mailing-text {
  margin: 8px 25px 0 0;
  padding: 0;
  color: #444444;
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  width: 528px;
}

.mailing-button-free {
  display: flex;
  justify-content: space-between;
}

.mailing-form {
  display: flex;
  width: 817px;
}

.email-input {
  width: 557px;
  border: none;
  border-bottom: 3px solid #c4c4c4;
  min-height: 40px;
  background-color: #f0f0f0;
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  padding: 10px 18px;
  color: #444444;
  box-sizing: border-box;
}

.email-input:hover {
}

.email-input:focus {
  outline: none;
  background-color: #c4c4c4;;
}

.email-input:active {
}

input.email-input[type="text"]::placeholder {
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}

.mailing-button {
  font-size: 18px;
  font-weight: 800;
  color: #000000;
  border: 3px solid #c4c4c4;
  text-transform: uppercase;
  padding: 16px 32px 16px 38px;
  text-align: center;
  letter-spacing: 3.6px;
  font-family: "Raleway", sans-serif;
  cursor: pointer;
}

.mailing-button:hover {
  color: #ffffff;
  border: 3px solid #000000;;
  background-color: #000000;
}

.mailing-button:focus {
}

.mailing-button:active {
  color: #ffffff4d;
}

.mailing-free {
  color: #444444;
  padding: 0;
  margin: 0;
  position: relative;
  align-self: center;
}

.mailing-free::after {
  content: "";
  position: absolute;
  top: 6px;
  left: -34px;
  width: 16px;
  height: 16px;
}

.mailing-free::after {
  background-image: url("../images/tick-big1.svg");
}

.page-footer {
  background-color: #444444;
}

.page-footer a {
  color: #ffffff;
  text-decoration: none;
}

.page-footer-width {
  width: 1160px;
  margin: 0 auto;
  padding-bottom: 70px;
}

.page-footer-box {
  display: flex;
  justify-content: space-between;
}

.page-footer-address {
  width: 239px;
  min-height: 182px;
  flex-shrink: 0;
  margin-top: 62px;
}

.page-footer-logo {
  margin-bottom: 27px;
}

.page-footer-address-more {
  font-size: 16px;
  font-style: normal;
  color: #ffffff;
  line-height: 20px;
}

.footer-strip {
  position: relative;
}

.footer-strip::after {
  content: "";
  position: absolute;
  top: 64px;
  left: 0;
  width: 80px;
  height: 7px;
  flex-shrink: 0;
  background-color: #ffc700;
}

.footer-navigation-social {
  display: flex;
  width: 507px;
  min-height: 123px;
  flex-direction: column;
  padding-top: 133px;
}

.footer-navigation-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  padding-bottom: 57px;
  flex-wrap: wrap;
}

.footer-navigation-item:not(:last-child) {
  margin-right: 32px;
}

.footer-navigation-link {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 3.6px;
  text-transform: uppercase;
  position: relative;
}

.footer-navigation-link:hover {
  color: #ffc700;
}

.footer-navigation-link:hover::after {
  position: absolute;
  content: "";
  bottom: -5px;
  left: -1px;
  width: 100%;
  height: 2px;
  background-color: #ffc700;
}

.footer-navigation-link:focus {

}

.footer-navigation-link:active::after {
  position: absolute;
  content: "";
  bottom: -5px;
  left: -1px;
  width: 100%;
  height: 2px;
  background-color: #ffc700;
  opacity: 0.3;
}

.footer-navigation-link:active {
  opacity: 0.3;
}

.footer-social-list {
  margin: 0;
  padding: 0;
  display: flex;
  width: 434px;
  justify-content: center;
}

.footer-social-item {
  list-style: none;
  margin-left: 9px;
}

.footer-social-item:not(:last-child){
  margin-right: 6px;
}

.footer-social-link {
  display: block;
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 50%;
}

.footer-social-link:hover {
  background-color: rgb(255, 199, 0);
}

.footer-social-tl {
  position: relative;
  top: 5px;
  left: 13px;
}

.footer-social-yb {
  position: relative;
  top: 5px;
  left: 12px;
}

.footer-social-tw {
  position: relative;
  top: 7px;
  left: 13px;
}

.footer-social-tl:active,
.footer-social-yb:active,
.footer-social-tw:active {
  opacity: 0.3;
}

.footer-button {
  position: relative;
}

.footer-button::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 14px;
  height: 12px;
  flex-shrink: 0;
}

.footer-button::after {
  background-image: url("../images/icons-telegram.svg");
}

.footer-phone {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 175px;
  height: 116px;
  flex-shrink: 0;
  padding-top: 135px;
}

.footer-phone-item-tel {
}

.footer-phone-item {
  margin-bottom: 57px;
}

.footer-logo-item {
  margin-left: 60px;
}

li .contacts-phone {
  font-size: 16px;
  text-decoration: underline;
}

.htmlacademy-link {
  position: relative;
}

.htmlacademy-svg {
  fill: #ffc700;
}

.htmlacademy-link:hover .htmlacademy-svg {
  fill: #ffffff;
}

.htmlacademy-link:focus {
  outline: none;
}

.htmlacademy-link:focus .htmlacademy-svg {
  fill: #ffffff;
  opacity: 0.3;
}

.htmlacademy-link:active .htmlacademy-svg {
  fill: #ffc700;
}

.main-inner {
}

.navigation-main {
  width: 1079px;
  margin: 0 auto;
  padding-top: 35px;
  position: relative;
}

.yellow-line {
  position: absolute;
  content: "";
  width: 1160px;
  height: 19px;
  top: 0;
  right: -41px;
  background-color: #ffe17f;
}

.navigation-main-block {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  padding: 20px 0 30px 20px;
}

.navigation-title {
  margin: 0;
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  font-style: normal;
  font-weight: 800;
  line-height: 50px;
}

.navigation-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navigation-item {
  position: relative;
}

.navigation-item:hover {
  opacity: 0.6;
}

.navigation-item:focus {

}

.navigation-item:active {
  opacity: 0.3;
}

.navigation-item:not(:last-child) {
  padding-right: 36px;
}

.navigation-item:not(:last-child)::after {
  position: absolute;
  content: "";
  width: 4px;
  height: 7px;
  right: 15px;
  top: 12px;
  background-repeat: no-repeat;
}

.navigation-item:not(:last-child)::after {
  background-image: url("../images/arrow.svg");
}

.navigation-link {
  text-decoration: none;
  color: #000000;
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.catalog {
  background-color: #f0f0f0;
}

.catalog-size {
  width: 1160px;
  margin: 0 auto;
}

.catalog-blocks {
  display: grid;
  grid-template-columns: 320px 840px;
}

.filter-block {
  margin-left: 40px;
}

.catalog-filter {
  display: flex;
  flex-direction: column;
  gap: 35px;
  flex-wrap: wrap;
}

.catalog-title {
  margin: 0;
  padding: 25px 0;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 3.2px;
  text-transform: uppercase;
  position: relative;
}

.catalog-title::after {
  background-color: #000000;
  position: absolute;
  content: "";
  width: 200px;
  height: 2px;
  bottom: -6px;
  left: 0;
}

.catalog-sum-group {
  border: none;
  margin: 0;
  width: 200px;
  height: 43px;
  padding: 12px 0 0 0;
}

.catalog-sum-title {
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.36px;
  position: relative;
  padding: 0;
}

.range {
  width: 200px;
}

.range-scale {
  position: relative;
  height: 2px;
  background-color: #dcdcdc;
  z-index: 1;
}

.range-bar {
  position: absolute;
  height: 2px;
  background-color: #000000;
  left: 0;
}

.range-toggle {
  position: absolute;
  width: 18px;
  height: 18px;
  background-color: #ebebeb;
  border-radius: 50%;
  cursor: pointer;
  border: 2px solid #242424;
}

.range-toggle:hover {
  background-color: rgba(235, 235, 235, 0.5);
  border: 2px solid rgba(36, 36, 36, 0.5);
}

.range-toggle:focus {

}

.range-toggle:active{
  background-color: #000000;
  border: 2px solid #000000;
}

.toggle-min {
  top: -8px;
  left: 0px;
}

.toggle-max {
  top: -8px;
  right: -10px;
}

.range-wrapper-inputs {
  position: absolute;
}


.catalog-filter-label {
  background-color: #f0f0f0;
  color: rgba(0, 0, 0, 0.3);
  font-size: 14px;
}

.range-input {
  font-family: "Rubik";
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  background-color: #f0f0f0;
  border: none;
  color: rgba(0, 0, 0, 0.3);
  width: 90px;
}

.range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.catalog-color {
  margin: 0;
  margin-bottom: 35px;
  border: none;
  padding: 0;
  position: relative;
}

.catalog-color::after {
  background-color: #000000;
  position: absolute;
  content: "";
  width: 200px;
  height: 2px;
  top: -48px;
  left: 0;
}

.catalog-color-title {
  margin-bottom: 20px;
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.36px;
}

.catalog-color-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.catalog-color-item {
  font-family: "Rubik", sans-serif;
  font-size: 16px;
}

.control {
  position: relative;
  display: block;
  padding-left: 36px;

}

.control-mark {
  position: absolute;
  top: 2px;
  left: 0;
  width: 20px;
  height: 20px;
  border: 2px solid #242424;
  border-radius: 4px;
}

.control:hover .control-mark,
.control:hover .control-label {
  opacity: 0.6;
}

.control:active .control-mark,
.control:active .control-label {
  opacity: 0.3;
}

.control-input:disabled + .control-mark {
  border-color: red;
}

.control-input[type="checkbox"]:checked + .control-mark::before,
.control-input[type="checkbox"]:checked + .control-mark::after {
  position: absolute;
  top: 7px;
  left: 2px;
  width: 12px;
  height: 2px;
  background-color: #242424;
  content: "";
}

.catalog-parametr {
  margin: 0;
  margin-bottom: 35px;
  border: none;
  padding: 0;
}

.catalog-parametr-title {
  margin-bottom: 20px;
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.36px;
  position: relative;
}

.catalog-parametr-title::after {
  background-color: #000000;
  position: absolute;
  content: "";
  width: 200px;
  height: 2px;
  top: -18px;
  left: 0;
}

.catalog-parametr-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.catalog-parametr-item {
  font-family: "Rubik", sans-serif;
  font-size: 16px;
}

.conrtol-parametr {
}

.control-input {
}

.button-show {
  display: inline;
  text-align: center;
  cursor: pointer;
  width: 210px;
  border: none;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 3.6px;
  text-transform: uppercase;
  position: relative;
  z-index: 10;
}

.button-show::after {
  position: absolute;
  content: "";
  top: 7px;
  left: 0px;
  z-index: -2;
  width: 210px;
  height: 8px;
  flex-shrink: 0;
  background-color: #ffe17f;
}

.product-block {
}

.product-sorting {
  display: flex;
  justify-content: space-between;
  padding: 10px 40px 4px 40px;
}

.product-title-sorting {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: 800;
  letter-spacing: 3.2px;
  text-transform: uppercase;
}

.select-control {
  height: 30px;
  align-self: center;
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  border: none;
  background-color: #f0f0f0;
}

.popular {
}

.cheap {
}

.expensive {
}

.button-up {
  position: relative;
}

.button-up::after {
  position: absolute;
  content: "";
  left: 95px;
  top: 20px;
  width: 0px;
	height: 0px;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 10px solid black;
  z-index: 1;
  opacity: 0.2;
}

.button-up:hover::after {
  opacity: 0.5;
}

.button-up:focus::after {
}

.button-up:active::after {
  opacity: 1;
}

.button-down {
  position: relative;
}

.button-down::after {
  position: absolute;
  content: "";
  right: 9px;
  top: 20px;
	width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 10px solid black;
  opacity: 0.2;
}

.button-down:hover::after {
  opacity: 0.5;
}

.button-down:focus::after {
}

.button-down:active::after {
  opacity: 1;
}

.background-product {
  background-color: #ffffff;
  padding: 68px 40px 78px 40px;
}

.product-image-block {
  display: grid;
  grid-template-columns: 360px 360px;
  gap: 40px;
  padding-bottom: 40px;
}

.product-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.product-item {
}

.product-image {
  margin-bottom: 35px;
  position: relative;
}

.product-image:hover {

}

.product-image::after {
  content: "";
  position: absolute;
  top: 10px;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 8px;
  flex-shrink: 0;
  background-color: #ffe17f;
}

.product-image:hover::after {
  transition: transform 0.2s ease-in-out 0.1s;
  content: "";
  position: absolute;
  top: -5px;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 40px;
  flex-shrink: 0;
  background-color: #ffe17f;
}

.product-image:active::after  {
  transition: transform 0.1s ease;
  content: "";
  position: absolute;
  top: -5px;
  left: 0;
  z-index: 1;
  width: 100%px;
  height: 40px;
  flex-shrink: 0;
  background-color: #ffcc33;
}


.product-link {
  text-decoration: none;
  color: #000000;
  display: flex;
  flex-wrap: wrap;
  width: 360px;
  min-height: 40px;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
}

.product-new {
  display: inline-block;
  position: absolute;
  width: 56px;
  height: 56px;
  top: 27px;
  right: 29px;
  border: solid 2px rgba(0, 0, 0, 0.60);
  z-index: 1;
  border-radius: 50%;
}

.product-new::after {
  position: absolute;
  content: "New";
  top: 19px;
  left: 8px;
  color: rgba(0, 0, 0, 0.60);
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 2.8px;
  text-transform: uppercase;
}

.product-title {
  margin: 0;
  padding: 0;
  flex-basis: 201px;
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.35px;
}

.product-price {
  color: #444444;
  margin: 0;
  padding: 0;
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: normal;
}

.download-more {
  display: inline;
  padding: 18px 39px;
  text-align: center;
  width: 760px;
  border: 3px solid #e5e5e5;
  background-color: #ffffff;
  color: #000000;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 3.2px;
  text-transform: uppercase;
  cursor: pointer;
  margin-bottom: 44px;
}

.download-more:hover {
  border: 3px solid #000000;
}

.download-more:focus {

}

.download-more:active {
  opacity: 0.3;
}

.pagination {
  padding: 0;
  margin: 0;
  background-color: #ebebeb;
  display: flex;
  justify-content: space-between;
  list-style: none;
  min-height: 71px;
  align-items: center;
}

.pagination-item {
}

.pagination-link {
  text-decoration: none;
}

.pagination-link.pagination-prev.pagination-disabled {
  color: #444444;
  opacity: 0.3;
  padding: 25px;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 3.6px;
  text-transform: uppercase;
  cursor: pointer;
}

.pagination-number {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  margin-top: 13px;
  cursor: pointer;
}

.pagination-item-number {
  list-style: none;
  width: 40px;
  height: 40px;
  text-align: center;
}

.pagination-link-number {
  text-decoration: none;
  color: #444444;
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  opacity: 0.6;
}

.pagination-link-number:hover {
  opacity: 1;
}

.pagination-link-number:focus{

}

.pagination-link-number:active {
  opacity: 0.1;
}

.pagination-link-number.pagination-current {
}

.pagination-link.pagination-next {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 3.6px;
  text-transform: uppercase;
  padding: 25px;
  color: #000000;
}

.modal {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal--close {
  display: none;
}

.modal-block {
  width: 920px;
  min-height: 568px;
  background-color: rgb(255, 255, 255);
  padding: 62px 71px;
  box-sizing: border-box;
  border: solid 10px rgb(0, 0, 0);
  box-shadow: 0px 10px 0px 0px rgba(0, 0, 0, 0.10);
  position: relative;
}

.modal-title {
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  font-style: normal;
  font-weight: 800;
  line-height: 50px;
  margin: 0;
  margin-bottom: 40px;
}

.modal-close-button {
  position: absolute;
  top: 70px;
  right: 70px;
  width: 26px;
  height: 26px;
  background-image: url("../images/modal/cross-modal.svg");
  border: none;
  background-color: #ffffff;
  cursor: pointer;
}

.modal-title::after {

}

.modal-title::after {

}

.modal-title:hover::after {
  opacity: 0.6;
}

.modal-title:focus::after {

}

.modal-title:active::after {
  opacity: 0.3;
}

.modal-list {
  padding: 0;
  margin: 0;
  display: flex;
  margin-bottom: 66px;
  flex-wrap: wrap;
}

.modal-list-amount {
  padding: 0;
  margin: 0;
  display: flex;
  margin-bottom: 48px;
}

.modal-list:not(:last-child) {
  gap: 40px;
}

.modal-item {
  list-style: none;
  padding: 0;
  margin: 0;
}

.subtitle-modal {
  font-family: "Rubik",sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.36px;
  margin: 0;
  margin-bottom: 12px;
}

.subtitle-modal-what {
  margin-bottom: 12px;
  margin-top: -2px;
}

.subtitle-modal-amount {
  margin-top: -3px;
}

.tooltip-toggle {
  position: relative;
  bottom: 5px;
  left: 8px;
  font-weight: 400;
  border-radius: 25px;
  background-color: #ffe17f;
  width: 26px;
  height: 26px;
  text-align: center;
  cursor: pointer;
  border: none;
}

.tooltip-toggle::after {
  position: absolute;
  content: "";
  top: 30px;
  left: 5px;
  width: 14px;
  height: 6px;
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 7px solid black;
  display: none;
}

.tooltip-icon {
  width: 27%;
  height: 100%;
}

.tooltip-text {
  position: absolute;
  content: "";
  width: 164px;
  height: 123px;
  color: #ffffff;
  line-height: 20px;
  background-color: #000000;
  font-size: 16px;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  letter-spacing: 0.5px;
  padding: 19px 17px 18px 19px;
  top: 37px;
  right: -17px;
  display: none;
}

.tooltip-toggle:hover::after {
  display: block;
}

.tooltip-toggle:hover + .tooltip-text,
.tooltip-toggle:focus + .tooltip-text  {
  display: block;
}

.modal-name-form {

}

.modal-name-input {
  width: 358px;
  border: none;
  min-height: 60px;
  background-color: #f0f0f0;
  padding: 8px 19px;
  box-sizing: border-box;
  font-size: 16px;
}

input.modal-name-input[type="text"]::placeholder {
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.3);
}

.modal-text-input {
  width: 539px;
  border: none;
  min-height: 60px;
  background-color: #f0f0f0;
  padding: 8px 19px;
  font-size: 16px;
  box-sizing: border-box;
}

input.modal-text-input[type="text"]::placeholder {
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.3);
}

.amount-modal {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-left: 41px;
  display: flex;
  flex-wrap: wrap;
}

.less-item {
  list-style: none;
  margin: 0;
  padding: 0;
}

.number-item {
  list-style: none;
  margin: 0;
  padding: 0;

}

.more-item {
  margin: 0;
  padding: 0;
  list-style: none;
}

.less-more {
  width: 16px;
  height: 16px;
  background-color: #f0f0f0;
  padding: 19px 25px;
}


.button-send {
  display: inline;
  text-align: center;
  cursor: pointer;
  width: 202px;
  border: none;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 3.6px;
  text-transform: uppercase;
  position: relative;
  z-index: 10;
  background-color: #ffffff;
}

.button-send::after {
  position: absolute;
  content: "";
  top: 7px;
  left: 0px;
  z-index: -2;
  width: 200px;
  height: 8px;
  flex-shrink: 0;
  background-color: #ffe17f;
}

.button-send:hover::after {
  transition: transform 0.2s ease-in-out 0.1s;
  content: "";
  position: absolute;
  top: -7px;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 40px;
  flex-shrink: 0;
  background-color: #ffe17f;
}

.button-send:active::after {
  transition: transform 0.1s ease;
  content: "";
  position: absolute;
  top: -7px;
  left: 0;
  z-index: -1;
  width: 100%px;
  height: 40px;
  flex-shrink: 0;
  background-color: #ffcc33;
}
